[Desktop Entry]
Name=About Mauna
Name[af]=Oor Mauna
Name[ar]=عن مونا
Name[ca_ES]=Sobre Mauna
Name[da]=Om Mauna
Name[de]=Über Mauna
Name[el]=Σχετικά με τη Mauna
Name[es]=Acerca de Mauna
Name[fi]=Tietoja henkilöstä Mauna
Name[fr]=À propos de Mauna
Name[he]=לגבי מאונה
Name[hi]=मौना के बारे में
Name[id]=Tentang Mauna
Name[it]=A proposito di Mauna
Name[ja]=マウナについて
Name[ko]=마우나 소개
Name[nl]=Over Mauna
Name[no]=Om Mauna
Name[pl]=O Maunie
Name[pt_BR]=Sobre o Mauna
Name[pt]=Acerca do Mauna
Name[ro]=Despre Mauna
Name[ru]=О Мауне
Name[sv]=Om Mauna
Name[th]=เกี่ยวกับ เมาน่า
Name[tr]=Mauna hakkında
Name[uk]=Про Мауну
Name[vi]=Về Mauna
Name[zh_CN]=关于莫纳
Name[zh_HK]=關於莫納
Name[zh_TW]=關於莫納
GenericName=About
GenericName[af]=Oor
GenericName[ar]=عن
GenericName[ca_ES]=Sobre
GenericName[da]=Om
GenericName[de]=Über
GenericName[el]=Σχετικά με
GenericName[es]=Acerca de
GenericName[fi]=Noin
GenericName[fr]=À propos
GenericName[he]=על אודות
GenericName[hi]=के बारे में
GenericName[id]=Tentang
GenericName[it]=Circa
GenericName[ja]=に関しては
GenericName[ko]=에 대한
GenericName[nl]=Over
GenericName[no]=v
GenericName[pl]=O
GenericName[pt_BR]=Sobre
GenericName[pt]=Acerca
GenericName[ro]=Despre
GenericName[ru]=О
GenericName[sv]=Handla om
GenericName[th]=เกี่ยวกับ
GenericName[tr]=Hakkında
GenericName[uk]=про
GenericName[vi]=Về
GenericName[zh_CN]=关于
GenericName[zh_HK]=關於
GenericName[zh_TW]=關於
Comment=Get info about your Mauna system.
Comment[af]=Kry inligting oor jou Mauna-stelsel.
Comment[ar]=الحصول على معلومات حول نظام Mauna الخاص بك.
Comment[ca_ES]=Obteniu informació sobre el vostre sistema Mauna.
Comment[da]=Få info om dit Mauna-system.
Comment[de]=Erhalten Sie Informationen zu Ihrem Mauna-System.
Comment[el]=Λάβετε πληροφορίες για το σύστημά σας Mauna.
Comment[es]=Obtenga información sobre su sistema Mauna.
Comment[fi]=Hanki tietoja Mauna-järjestelmästäsi.
Comment[fr]=Obtenez des informations sur votre système Mauna.
Comment[he]=קבל מידע על מערכת המאונה שלך.
Comment[hi]=अपने मौना सिस्टम के बारे में जानकारी प्राप्त करें।
Comment[id]=Dapatkan info tentang sistem Mauna Anda.
Comment[it]=Ottieni informazioni sul tuo sistema Mauna.
Comment[ja]=Mauna システムに関する情報を取得します。
Comment[ko]=Mauna 시스템에 대한 정보를 얻으세요.
Comment[nl]=Krijg informatie over uw Mauna-systeem.
Comment[no]=Få informasjon om Mauna-systemet ditt.
Comment[pl]=Uzyskaj informacje o swoim systemie Mauna.
Comment[pt_BR]=Obtenha informações sobre o seu sistema Mauna.
Comment[pt]=Obtenha informações acerca do seu sistema Mauna.
Comment[ro]=Obțineți informații despre sistemul Mauna.
Comment[ru]=Получите информацию о вашей системе Mauna.
Comment[sv]=Få information om ditt Mauna-system.
Comment[th]=รับข้อมูลเกี่ยวกับระบบ Mauna ของคุณ
Comment[tr]=Mauna sisteminiz hakkında bilgi alın.
Comment[uk]=Отримайте інформацію про свою систему Mauna.
Comment[vi]=Nhận thông tin về hệ thống Mauna của bạn.
Comment[zh_CN]=获取有关您的莫纳系统的信息。
Comment[zh_HK]=獲取有關您的莫納系統的資訊。
Comment[zh_TW]=獲取有關您的莫納系統的資訊。
Exec=mauna-about
Icon=/usr/share/mauna/mauna-about/icon.svg
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
Keywords=about
