[Desktop Entry]
Name=Mauna Hardware Information
Name[pt_BR]=Informações de Hardware do Mauna
GenericName=Hardware Information Viewer
GenericName[pt_BR]=Visualizador de informações de hardware
Comment=Get informations about the hardware in your Mauna system.
Comment[pt_BR]=Obtenha informações sobre o hardware do seu sistema Mauna.
Exec=mauna-about --hardware
Icon=mauna-hardware-info
Terminal=false
Type=Application
Categories=Settings;X-XFCE-SettingsDialog;
StartupNotify=true
Keywords=about;info;system;hardware;
Keywords[pt]=sobre;informação;sistema;hardware;
